html, body {
  margin: 0;
  padding: 0;
}

.game-container {
  position: relative;
  border-bottom: 1px solid salmon;
  width: 100vw;
  height: 70vh;
}

.shape {
  position: absolute;
  width: 3vw;
  height: 5.76vh;
  display: none;
  top: 0;
  left: 0;
  /*
  top: calc(70vh - 5.76vh);
  left: 97vw; 
  */

  background-color: red;
}

.controls {
  text-align: center;
}

.elapsed {
  visibility: hidden;
}